<div>
    <h2>general-laborer works!</h2>
    <div>
        <p>Physical Requirements</p>
        <ul>
            <li>Lift heavy and awkward objects - up to 60</li>
            <li>Capable of working in outdoor weather and environmental conditions including extreme heat and humidity, extreme cold, and high-elevations.</li>
            <li>Work in awkward positions using repetitive motions such as dirt shoveling, compacting dirt, and breaking/chipping concrete</li>
            <li>Bend, stretch, stoop, kneel, crawl, twist, climb, laddres, and reach out on a regular basis.</li>
            <li>Remove concrete forms.</li>
            <li>Stand for extended periods of time - up to 11 hours per day. Breaks are given in 2.5 hr intervals.</li>
            <li>Provice assistance to craft workers - carrying tools and materials to work area.</li>
            <li>Clean and prepare site to eliminate potential hazards</li>
            <li>Must have good hand-eye coordination.</li>
            <li>
                <p>Use hands to handle, control, and feel objects and/or tools, o Tools typically used are:</p>
                <ul>
                    <li>Jack hammers</li>
                    <li>Dir compactors</li>
                    <li>Dirt shovels</li>
                    <li>Chipping guns/hammers</li>
                    <li>Framing hammers/crow bars</li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        Have you had any previous injuries or medical conditions that would prevent you from permorming these task:
    </div>
</div>
