<div>
    <div>
        <p>EMPLOYEE CONDUCT POLICY</p>
    </div>
    <div>
        B-MAC COMPANY, Odessa, Texas has adopted and EMPLOYEE CONDUCT POLICY as
        part of their employee hire package. This policy states that as an employee
        of B-MAC COMPANY you will be required to work out of town. While working out of
        town you are a B-MAC COMPANY representative and required to obey and abide all laws according to local and state 
        authorities. If at any time improper conduct is exhibited towards any Hotel staff or management, Oil
        Company employees, or any business that B-MAC COMPANY is associated with, the employee will be
        inmmediately terminated.
    </div>
</div>
